/*
https://www.freecodecamp.org/news/https-medium-com-nakayama-shingo-creating-responsive-tables-with-pure-css-using-the-grid-layout-module-8e0ea8f03e83/
*/

.mod_journal ol {
    margin-left: 0;
    padding-left: 0;
}
.mod_journal li.item-container {
    display: grid;
    /*                     #   title  active  img  dates icons checkbox drag */
    grid-template-columns: 1em 6fr    3em     2fr  5fr   2fr   1em      1em;
    column-gap: .5em;
}
.mod_journal div.attribute-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--column-width-min), 1fr));
}
.mod_journal div.attribute-container:first-child {
    border-bottom: 1px solid $white;
}
.mod_journal li.header {
    background-color: $dark;
    color: $white;
}
.mod_journal .title-group {
    --column-width-min: 15em;
}
.mod_journal .images-tags {
    --column-width-min: 1em;
}
.mod_journal .start-end {
    --column-width-min: 8em;
}
.mod_journal #sortable-items > li > div.draghandle {
    cursor: move;
    padding: 0;
    align-self: end;
}