@import '_colors.scss';
@import '_tabs.scss';
@import '_tables.scss';
@import '_forms.scss';


.mod_journal .dragdrop_handle {
    background-color: $gray;
    background-image: url("images/dd_grip.png");
    background-position: right center;
    cursor: move;
    padding: 0;
    width: 20px !important;
}