$icomoon-font-family: "journal" !default;
$icomoon-font-path: "fonts" !default;

$j-pencil: "\e906";
$j-calendar: "\e953";
$j-lock: "\e98f";
$j-unlocked: "\e990";
$j-wrench: "\e991";
$j-bin: "\e9ac";
$j-eye: "\e9ce";
$j-eye-blocked: "\e9d1";
$j-cross: "\ea0f";
$j-checkmark: "\ea10";
$j-move: "\ea7f";

